<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<h1><%= @game.current_player.name %>'s turn</h1>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<form action="/attack">
  <input type="submit" value="Attack" id="attack">
</form>

<form action="/sleep">
  <input type="submit" value="Sleep" id="sleep">
</form>

<form action="/paralyse">
  <input type="submit" value="Paralyse" id="paralyse">
</form>
