<h1><%=@game.players[0].name%> vs. <%=@game.players[1].name%></h1>

<h1><%=@game.players[1].name%>: <%=@game.players[1].hitpoints%>HP</h1>
<h1><%=@game.players[0].name%>: <%=@game.players[0].hitpoints%>HP</h1>

<a href="/attack">Attack</a>
